/* Your Website Styles */


/* Show Grid */

body {
	background: url("../img/tweed.png");
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
}

img {
	height: 60em;
	width: 60em;
	margin: -10em -40em 0 0;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 6em;
	color:white;
	text-align: center;
	margin: -200px 0 0 0;
	padding: -3em 10em 0 0;
}

.amp {
font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
font-style: italic;
font-weight: normal;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3.5em;
	color:#33CCCC;
	text-align: center;
	margin: -0.25em 0 0 0;

}

nav {
	display:block;
	text-align: center;
}

.round-button {
	width:15%;
	display: inline-block;
	margin: 1em;
}

.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:.25em solid white;
    overflow:hidden;
    display: inline-block;
    background: #33CCCC;
    margin: 2em 3em 2em 0;
}
.round-button-circle:hover {
	background:#FF6666;
}
.round-button a {
    display: block;
    
	width:100%;
	padding: 50% 0;
	line-height:1em;
	margin:-0.5em 0 0 0;
    
	text-align:center;
	color:#e2eaf3;
    font-family: 'Josefin Sans', sans-serif;
    font-size:1.2em;
    text-decoration:none;
}

h3 {
	color:#FF6666;
	font-size: 2em;
	text-align: center;
	margin: 50px 0 0 0;
	font-family: 'Josefin Sans', sans-serif;
	
}

li {
	color: white;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	
}

p {
	color: white;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	
}

/***MEDIA QUERIES**/

/***IPHONES TO TABLETS**/

@media screen and (max-width:768px) {
	h1 {
		font-size: 1em
		display: inline-block;	
	}
	
	img {
		max-width: 30em;
	}
}

/***TABLET TO DESKTOP**/

@media only screen and (min-width: 796px) {
	.main-nav {
		float: right;
	}
}


@media screen and (min-width: 1000px) {
	.wrap {
		width: 700px;
	}
}